<!--Name:Nathan Siu and Mike Meissner
    File Name:Contact
    Description: This file shows the map of restaurant and contains contact info
    -->
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/Assets/MAP.jpg" />

<address>
    61 Cartwright Dr<br />
    Barrie,ON L4M 6G2<br />
    <abbr title="Phone">P:</abbr>
    705-323-3213
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@foodondemand.com">Support@foodondemand.com</a><br />
    <strong>Head Office:</strong> <a href="mailto:Head@foodondemand.com">Head@foodondemand.com</a>

   
</address>
<h4>Social Media-</h4>
<a href="https://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
<a href="https://twitter.com"><i class="fa fa-twitter-square fa-2x"></i></a>
<a href="https://instagram.com"><i class="fa fa-instagram fa-2x"></i></a>
