<!--Name:Nathan Siu and Mike Meissner
    File Name:Index
    Description: This page contains infomration about restaurant
    -->

@{
    ViewBag.Title = "Home Page";
}
<h1 align ="center" id="welcome">Welcome To Food On Demand</h1>
<br/>
<br />
<div class="row">
    <div class="col-md-12" id="holder">
      <img src="~/Assets/restaurant.jpg" id="pic"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
       <h4>We deliver high quality food on demand 365 days a year 24/7. We pride ourselves in using high quality ingredients and hand picked transfered and packaged from our home to yours.</h4>
    </div>
    <div class="col-md-6">
       <h4>Founded in 2016, we are highly dedicated in providing excellent customer service.</h4>
    </div>
    
</div>